.movies-card-list {
  --padding: 0.625rem;
  padding-inline: var(--padding);
  padding-block-end: 5rem;

  width: calc(100% - var(--padding) * 2);
  flex: 1;
}
.movies-card-list__grid {
  margin: 0;
  padding: 0;
  list-style: none;

  padding-block-start: 2.5rem;
  padding-block-end: 1.875rem;
  
  --movies-width: 300px;

  display: grid;
  grid-template-columns: repeat(auto-fit, var(--movies-width));
  place-content: center;
  gap: 1rem;
}
.movies-card-list__footer { 
  padding-block-start: 3.125rem;
  text-align: center;
}
.movies-card-list__message {
  color: #FF004C;
  font-size: 0.6875rem;
  margin: 0;
  text-align: center;
}
@media screen and (min-width:768px) {
  .movies-card-list {
    --padding: 1.875rem;
    padding-inline: var(--padding);
  }
  .movies-card-list__grid {
   --movies-width: 342px;

    padding-block-start: 4.375rem;

    row-gap: 2.1875rem;
    column-gap: 1.5rem;
  }
  .movies-card-list__message {
    font-size: 0.875rem;
  }
}

@media screen and (min-width:1280px) {
  .movies-card-list { 
    --padding: 4.375rem;
    padding-inline: var(--padding);
    max-width: var(--max-width);
    margin-inline: auto; 
  }
  .movies-card-list__grid {
    padding-block-end: 0.625rem;
    place-content: start;  

    --movies-width: 360px;

    row-gap: 2rem;
    column-gap: 1.75rem;
  }
}