.search {
  --padding: 0.875rem;
  padding-block-start: 4.375rem;
  padding-block-end: 0.625rem;
  padding-inline: var(--padding);

  width: calc(100% - var(--padding) * 2);
}
.search-form {
  display: grid;
  gap: 1.875rem;
}
.search-form__fieldset {
  margin: 0;
  padding: 0;
  border:0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1.5px solid #aaaaaa33; 

  padding-right: 0.375rem;
  width: 100%;
}


.search-form__input {
	padding:0;
  border: 0;
  outline: none;
  width: 100%;
  padding-left: 0.75rem;
  background-color: transparent;

  padding-block: 1.25rem;
  border-radius: 0.5rem;
  color: inherit;
}
.search-form__fieldset:has(.search-form__input:focus-within) {
  outline: 1px solid var(--blue-400);
}
.search-form__input::placeholder {
  color: var(--gray-600);
  font-size: 1rem;
  line-height: 1rem; 
  font-family: 'Inter', Arial, sans-serif;
}
.search-form__button {
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;

  text-align: center;
  background-color: var(--blue-400);

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem; 

  padding-block: 0.8125rem;
  padding-inline: 1.1608rem;
  border-radius: 0.3125rem;


  transition: filter 250ms;
}
.search-form__button:hover { filter: brightness(80%);}

@media screen and (min-width:768px) {
  .search {
    --padding: 1.875rem;
    padding-inline: var(--padding);
  }
  .search-form__button {
    padding-inline: 1.786rem;
    padding-block: 1.0625rem;
    font-size: 0.875rem;
  }
  .search-form {
    padding-right: 0.625rem;
    gap: 1.6875rem;
  }
  .search-form__input {
    padding:0;
    outline: none;
    border: 0;
    width: 100%;
    background-color: transparent;
  
    padding-left: 1.5625rem;
    padding-block: 1.565rem;
  }
  .search-form__input::placeholder {
    color: var(--gray-600);
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width:1280px) {
  .search {
    --padding: 4.375rem;
    padding-inline: var(--padding);
    
    max-width: var(--max-width);
    margin-inline: auto;
  }
  .search-form {
    gap: 1.6875rem;
  }
}