.modal {
  background-color: rgba(0 0 0 / .4);
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: visibility 300ms, opacity 300ms;
}

.modal_active { 
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width:1280px) {
  .modal {display: none;}
}


