.search-block {
  padding-block-start: 4.375rem;
  padding-block-end: 0.625rem;
  padding-inline: 0.875rem;

  display: grid;
  gap: 1.875rem;

  max-width: var(--max-width);
  margin-inline: auto;
}
@media screen and (min-width:768px) {
  .search-block {
    padding-inline: 1.875rem;
    gap: 1.6875rem;
  }
}

@media screen and (min-width:1280px) {
  .search-block {
    padding-inline: 4.375rem;
    gap: 1.6875rem;
  }
}